<div class="groups">
  <input type="text" class="filter" v-model="groupFilter" placeholder="Filter by Group Name">
  <grid :data="groups" @item-clicked="groupClicked">
    <template slot="grouped-title" scope="grouped">
      {{roleName(grouped.title)}}
    </template>
    <template slot="grid-item" scope="group">
      <div class="group">
        <div class="background" :style="{ backgroundImage: `url(${getPhoto(group)})` }"></div>
        <div class="label">{{group.name}}</div>
        <div class="members">
          {{group.members}} {{group.who || members}}
        </div>
        <!--<div class="next-event" v-if="group.next_event">-->
          <!--{{group.next_event.yes_rsvp_count}}-->
          <!--going to-->
          <!--{{group.next_event.name}}-->
        <!--</div>-->
        <!--<div class="next-event" v-if="group.next_event">-->
          <!--{{new Date(group.next_event.time).toDateString()}}-->
          <!--{{new Date(group.next_event.time).toLocaleTimeString()}}-->
        <!--</div>-->
      </div>
    </template>
  </grid>
</div>
