<div class="event">
  <div class="event-info">
    <router-link :to="{ name: 'group', params: { groupName: groupName }}" class="nav-back">Back to {{groupName}}</router-link><br><br>
    <div class="event-name">
      {{event.name}}
    </div>
    <div><br>{{event.status | capitalize}}</div>
    <div class="event-venue" v-if="event.event_hosts && event.event_hosts.length">
      Hosts:<br>
      <div v-for="host in event.event_hosts">
        {{host.name}} ({{host.role}})
      </div>
    </div>
    <div class="event-venue" v-if="event.time">
      Date and Time:<br>
      {{event.time / 1000 | moment("ddd, MMM Do YYYY, h:mm a") }}
      ({{event.time / 1000 | moment("from", "now") }})
    </div>
    <div class="event-venue" v-if="event.duration">
      Duration:<br>
      {{(event.time / 1000) + (event.duration / 1000) | moment("from", (event.time), true) }}
    </div>
    <div class="event-venue" v-if="event.venue">
      Venue:<br>
      {{event.venue.name}}<br>
      {{event.venue.address_1}}<br>
      {{event.venue.city}}, {{event.venue.state}} {{event.venue.zip}}
    </div>
    <div class="event-venue" v-if="event.how_to_find_us">
      How to find us:<br>
      {{event.how_to_find_us}}
    </div>
    <div class="event-venue">
      RSVPs:<br>
      <div>{{event.waitlist_count}} waitlist</div>
      <div>{{event.yes_rsvp_count}} yes</div>
      <div>{{event.rsvp_limit || 'No'}} limit</div>
    </div>
    <div class="event-venue" v-if="event.why">
      Why:<br>
      {{event.why}}
    </div>
    <div class="event-venue" v-if="event.description">
      Description:<br>
      <div v-html="event.description"></div>
    </div>
    <div class="comments" v-if="comments && comments.length">
      Comments:<br>
      <div class="comment" v-for="comment in comments">
        <div class="user">{{comment.member.name}}</div>
        <div class="post-time">
          <span v-if="comment.created">
            {{comment.created / 1000 | moment("ddd, MMM Do YYYY, h:mm a") }}
            ({{comment.created / 1000 | moment("from", "now") }})
          </span>
          <span v-else>&nbsp;</span>
        </div>
        <div class="text">{{comment.comment}}</div>
        <div class="replies">
          <div class="reply" v-for="reply in comment.replies">
            <div class="user">{{reply.member.name}}</div>
            <div class="post-time">
              <span v-if="reply.created">
                {{reply.created / 1000 | moment("ddd, MMM Do YYYY, h:mm a") }}
                ({{reply.created / 1000 | moment("from", "now") }})
              </span>
              <span v-else>&nbsp;</span>
            </div>
            <div class="text">{{reply.comment}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
