@import '~styles/globals';

.grid {
  .grid-group {
    .grouped-title {
    }
  }

  .grid-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    margin: 10px;
    transition: box-shadow 150ms;
    box-shadow: 2px 2px 10px #aaa;
    position: relative;
    cursor: pointer;

    &:hover {
      box-shadow: 4px 4px 15px #aaa;
    }

    &:active {
      transition: box-shadow 50ms;
      box-shadow: 2px 2px 5px #aaa;
    }
  }
}
